@font-face {
    font-family: 'Graphik';
    font-display: fallback;
    src: url('./fonts/Graphik-Regular.woff2') format('woff2'),
        url('./fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: fallback;
    src: url('./fonts/Graphik-Medium.woff2') format('woff2'),
        url('./fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: fallback;
    src: url('./fonts/Graphik-Bold.woff2') format('woff2'),
        url('./fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$darkgreen: rgb(68, 118, 56);
$green: rgb(121, 178, 65);
$lightgreen: rgb(176, 211, 92);
$yellow: rgb(237, 234, 171);

$theme-colors: (
  "primary": $green,
  "secondary": $lightgreen,
  "dark": $darkgreen,
  "info": $yellow,
);

@import '~bootstrap/scss/bootstrap.scss';
$enable-responsive-font-sizes: true;

.container-fluid {
   max-width: 1344px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #231f20;
  @media (min-width: 1200px) {
    padding-top: 112px;
  }
  @media (max-width: 1199.98px) {
    padding-top: 98px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Graphik';
}

.block-img img {
  max-width: 100%;
}
.custom-icon {
  text-align: center;
}
.custom-icon img {
  width: 120px;
  display: inline-block;
  box-shadow: none !important;
}

span[class^="burger_hamburger-inner__"],span[class^="burger_hamburger-inner__"]:before, span[class^="burger_hamburger-inner__"]:after {
  border-radius: 0;
}

h1 {
  @include font-size(2.5rem);
}
h2 {
  @include font-size(2rem);
}
h3 {
  @include font-size(1.75rem);
}
h4 {
  @include font-size(1.5rem);
}
h5 {
  @include font-size(1.25rem);
}
h6 {
  @include font-size(1rem);
}
.lead {
  @include font-size(1.25rem);
}
.display {
  @include font-size(3rem);
}
p {
  @include font-size(1rem);
}

.btn {
  border-radius: 2px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.btn-outline-primary {
  border-color: transparent;
}



.pricing-description {
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 1.5rem;
    li {
      margin-bottom: 0.75rem;
    }
  }
  .btn {
    padding: 0.5rem 1.5rem;
  }
}
.pricing-card {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
  .price, .pricing-tier {
    color: $green;
  }
  &.true {
    border: 1px solid $green !important;
  }
}


.footerImg {
  @media (max-width: 575.98px) {
    width: 180px;
  }
  @media (max-width: 767.98px) {
    width: 180px;
  }
}


a.button {
  border-radius: 2px;
}

.text-center {
  display: block;
  text-align: center;
}

.bg-white, .bg-light, .bg-secondary, .bg-primary, .bg-dark {
  .lead {
    font-family: 'Graphik';
  }
}

.bg-white, .bg-light {
  h1,h2,h3,h4,h5,h6 {
    color: rgb(68, 118, 56);
  }
  .lead {
    color: rgb(121, 178, 65);
  }
  a:not(.btn) {
    color: rgb(30,62,24);
    background-image: linear-gradient(180deg,transparent 70%,rgba(176,211,92,.4) 0);
  }
  .fontIcon path {
    fill: rgb(121, 178, 65);
  }
}
.bg-primary, .bg-dark {
  h1,h2,h3,h4,h5,h6, p {
    color: #fff;
  }
  .lead {
    color: rgb(237, 234, 171);
  }
  .fontIcon path {
    fill: rgb(237, 234, 171);
  }
}
.bg-secondary {
  h1,h2,h3,h4,h5,h6, p {
    color: rgb(30,62,24);
  }
  p.lead {
    color: rgb(30,62,24);
  }
  .fontIcon path {
    fill: rgb(68, 118, 56);
  }
}
.bg-primary {
  .btn-primary {
    background-color: rgb(176, 211, 92);
    border-color: rgb(176, 211, 92);
  }
}

.btn-link {
  letter-spacing: 0;
  text-align: left;
  &:hover, &:focus, &.active {
    text-decoration: none;
  }
}

.contact-page {
  font-size: 1.0675rem;
  strong {
    font-weight: 500;
  }
}
