$darkgreen: #1e3e18;
$green: #447638;
$lightGreen: #79b241;
$lighterGreen: #b0d35c;
$brandGrey: #c3bfb3;
$brandYellow: #edeaab;

.subnavigation {
  z-index: 2;
  // background: $lighterGreen !important;
  // background: #f4f4f4;
  // background: #212529;
  // background: $lightGreen;
  // background: $darkgreen;
  // background: $green;
}
